@import "../../../../common/style/variables";
.m-tabbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  height: 4.9rem;
  border-top: 1px solid rgba(0, 0, 0, .1);

  .list {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .item {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      cursor: pointer;

      &>.icon, &>.active-icon {
        height: 2.4rem;
      }

      &>.icon {
        display: block;
      }

      &>.active-icon {
        display: none;
      }

      &>div {
        margin-top: .3rem;
        font-size: 1rem;
        color: #7F8389;
      }

      &.active {
        &>div {
          color: $theme-green;
        }
        &>.icon {
          display: none;
        }
        &>.active-icon {
          display: block;
        }
      }
    }
  }
}
