@import "../../common/style/variables";
@import "../../common/style/functions";

.m-search {
  width: 100%;
  display: flex;
  position: relative;
  height: 4.5rem;

  @include border-bottom-1px(#eee);

  .search {
    flex: 1;
    margin: .8rem;
    border-radius: .5rem;
    border: 1px solid #ccc;
    padding-left: 1.3rem;
    font-size: 1.3rem;
    color: #666;

    @media screen and (-webkit-min-device-pixel-ratio: 2) {
      border: 1px solid rgba(204, 204, 204, .5);
    }
  }

  .search-icon {
    position: absolute;
    right: .8rem + 1.4rem;
    top: 50%;
    width: 1.3rem;
    height: 1.3rem;
    transform: translateY(-50%);
  }

  input::placeholder {
    font-size: 1.3rem;
    color: #c8c7cd;
  }
}
